html {
    min-height: 100%;
}

body {
    font-family: "微软雅黑";
    height: 100%;
}

input,
textarea,
button,
a {
    outline: 0
}

img {
    max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
fieldset,
textarea {
    margin: 0
}

fieldset,
legend,
textarea,
input {
    padding: 0
}

ul,
ol {
    padding-left: 0;
    list-style-type: none
}

a img,
fieldset {
    border: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
select {
    text-transform: none;
}

select {
    border: 1px solid #dbdbdb;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px #fff;
    -moz-box-shadow: inset 0 0 0 1000px #fff;
    -webkit-box-shadow: inset 0 0 0 1000px #fff
}

select {
    border-radius: 0;
    -webkit-border-radius: 0
}


/*常用*/

.big-font {
    font-size: 24px;
    font-family: "微软雅黑";
    color: #333;
    vertical-align: middle;
}

.mid-font {
    font-size: 16px;
    font-family: "微软雅黑";
    color: #333;
    vertical-align: middle;
}

.s-font {
    font-size: 12px;
    font-family: "微软雅黑";
    color: #141414;
    vertical-align: middle;
}

.delete-btn {
    background-position: center;
    background-image: url("../img/cha2.png");
    background-repeat: no-repeat;
}

.delete-btn:hover {
    background-image: url("../img/cha1.png");
}

.com-btn1 {
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 55px;
    text-align: center;
    background-color: #5c9ef5;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.com-btn2 {
    min-width: 90px;
    height: 34px;
    line-height: 34px;
    padding: 0px 15px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    background-color: #00a0d0;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.com-btn3 {
    min-width: 46px;
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    background-color: #00a0d0;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.com-btn4 {
    min-width: 100px;
    height: 34px;
    line-height: 34px;
    padding: 0px 15px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    background-color: #00a0d0;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.red-error-1 {
    color: red;
    font-size: 14px;
    font-family: "宋体";
    height: 20px;
}

.red-error-2 {
    color: red;
    font-size: 12px;
    font-family: "宋体";
    height: 20px;
}

.mr30 {
    margin-right: 30px;
}


/*head*/

.header {
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo-wrap {
    margin-left: 65px;
}

.logo-wrap .logo-img {
    vertical-align: middle;
    height: 50px;
}

.logo-wrap .company-name {
    margin-left: 35px;
}

.header-btn-wrapper {
    float: right;
    margin-right: 30px;
}

.header-btn-wrapper .header-user-info {
    font-size: 12px;
    color: #606060;
}

.header-btn-wrapper .header-user-info .sign-out {
    cursor: pointer;
}

.user-icon {
    display: inline-block;
    width: 24px;
    height: 20px;
    vertical-align: middle;
    background-image: url(/img/top_icon.png);
    background-position: -54px -1px;
    background-repeat: no-repeat;
}

body {
    background-color: #f0f4f7;
}


/*左侧*/

.main-left {
    width: 215px;
    position: fixed;
    top: 100px;
    left: 0px;
    bottom: 0px;
}

.main-left .slide-btn {
    position: absolute;
    width: 15px;
    height: 100px;
    right: 0;
    top: 50%;
    margin-top: -150px;
}

.main-left .slide-btn.slide-open {
    background-image: url(/img/slide_open.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.main-left .slide-btn.slide-close {
    background-image: url(/img/slide_close.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.main-left .slide-btn.slide-close {}

.main-left .menu-slide-left {
    width: 200px;
    background-color: #00a0d0;
    height: 100%;
    overflow: auto;
    /*
    position: fixed;
    top: 100px;
    left: 0px;
    bottom: 0px;
    overflow: auto;*/
}

.main-left a {
    color: #fff;
    font-family: "微软雅黑";
    font-size: 14px;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.main-left .menu-name a {
    max-width: 130px;
    overflow: hidden;
}

.main-left .menu-name {
    position: relative;
}

.menu-slide {
    background-image: url('/img/side-left-shrink.png');
    width: 15px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 199px;
    display: block;
}

.main-left .menu-name .menu-icon {
    display: inline-block;
    background-image: url(/img/left_menu.png);
    width: 32px;
    height: 30px;
    margin: 0 13px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.arrow-left {
    display: inline-block;
    background-image: url(/img/left_menu.png);
    width: 32px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: -41px 7px;
}

.main-left .menu-name .arrow-left {
    position: absolute;
    right: 7px;
    top: 13px;
}

.arrow-bottom {
    display: inline-block;
    background-image: url(/img/left_menu.png);
    width: 32px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: -40px -73px;
}

.main-left .menu-name .arrow-bottom {
    position: absolute;
    right: 7px;
    top: 13px;
}

.double-arrow-down {
    display: inline-block;
    background-image: url(/img/double_arrow.png);
    width: 32px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
    vertical-align: middle;
}

.pram-icon {
    background-position: 0px 3px;
}

.test-icon {
    background-position: 0px -70px;
}

.pan-icon {
    background-position: -96px 2px;
}

.video-icon {
    background-position: -91px -67px;
}

.search-icon {
    background-position: -165px -2px;
}

.chart-icon {
    background-position: -242px -68px;
}

.set-icon {
    background-position: -242px -2px;
}

.photo-icon {
    background-position: -165px -69px;
}

.main-left .menu-link a {
    margin-left: 5px;
    padding-left: 65px;
    display: block;
    font-size: 12px;
}

.main-left .menu-link a.cur-url {
    background-color: #f0f4f7;
    color: #00a0d0;
}

.cur-menu {
    background-color: #0090b0;
}


/*body*/

.main {
    margin-left: 230px;
    margin-right: 20px;
    margin-top: 100px;
}

.home-icon {
    background-image: url("/img/home_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.page-path {
    height: 45px;
    line-height: 45px;
}

.page-title {
    height: 65px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5;
    color: #00a0d0;
}

.main-body {
    background-color: #fff;
    border-radius: 3px;
}

.main-body1 {
    font-size: 14px;
}

.main-body-head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 4px;
}

.table-div {
    padding: 20px 3px;
    font-size: 14px;
}

.table-div table {
    width: 100%;
}

.table-div table tbody tr:nth-child(odd) {
    background-color: #f0f4f7;
}

.table-div table td {
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.opt-btn {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.opt-btn span {
    color: #666;
}

.edit-icon {
    background-image: url(/img/operate.png);
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: 2px -1px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.use-icon {
    background-image: url(/img/use_icon.png);
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.del-icon {
    background-image: url(/img/operate.png);
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: -34px -1px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.btn-div {
    text-align: center;
    margin-top: 23px;
    padding-bottom: 23px;
}


/*pager*/

.p-ENum {
    border: 1px solid #ededed;
    border-right: 0;
    display: inline-block;
}

.p-ENum .p-ENum2 a {
    border-right: 1px solid #ededed;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    color: #313236;
    font-size: 12px;
}

.p-ENum .p-ENum2 .p-ESe {
    background-color: #00a2d3;
    color: #fff;
}

.p-EBK {
    border: 1px solid #ededed;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    color: #313236;
    padding: 0 10px;
    font-size: 12px;
    margin: 0px 4px;
}

.p-ENum .p-ENum2 a:hover,
.p-EBK:hover {
    background-color: #00a2d3;
    color: #fff;
}

.p-EPreDis,
.p-ENxtDis {
    color: #c7cad3;
}

.p-EIpt input {
    padding: 6px;
    width: 22px;
    border: 1px solid #ededed;
}

.wPaging_1 {
    font-size: 12px;
}

.wPaging_1 select {
    border: 1px solid #ededed;
}

#pager {
    margin: 10px auto;
    text-align: center;
}


/*浮层*/

.mark-div {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.popu-div {
    position: fixed;
    background-color: #fff;
    border-radius: 6px;
    padding-bottom: 20px;
}

.popu-div .popu-title {
    height: 50px;
    line-height: 50px;
    position: relative;
}

.popu-div .popu-blue-title {
    font-size: 16px;
    color: #01a1d1;
    text-align: center;
}

.popu-div .popu-title..popu-div .popu-title-1 {
    text-align: center;
}

.popu-div .popu-title .close-popu {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
}

.popo-btn-div {
    text-align: center;
    margin-top: 30px;
}

.popu-table-div table {
    width: 100%;
}

.popu-table-div tr td:first-child {
    text-align: right;
}

.popu-table-div tr td {
    padding: 10px 0;
    font-size: 13px;
}

.popu-table-div tr td input {
    padding: 3px 5px;
    width: 250px;
}

.popu-table-div tr td select {
    padding: 3px 5px;
    width: 264px;
}

input {
    padding: 3px 5px;
    font-size: 14px;
}

select {
    padding: 3px 5px;
    font-size: 14px;
}

.selected_config span {
    color: #00a0d0;
}

.text-left {
    text-align: left;
}

.loading {
    background-image: url('/img/loading.gif');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.bg-chart-b {
    background-image: url('/img/bg_chart1.jpg');
    background-size: 100% 100%;
    height: 100%;
}
